# Groq API
GROQ_API_KEY=your_groq_api_key

# MySQL
# For local run, use: localhost
# For Docker Compose, use: mysql
MYSQL_USER=root
MYSQL_PASSWORD=admin123
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=lead_db

# JWT Secret
SECRET_KEY=your_secret_key

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123