fastapi
uvicorn
sqlalchemy
pymysql

python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-multipart
pydantic
python-dotenv

groq
loguru
alembic

scikit-learn

pytest>=8.2.0
pytest-cov>=5.0.0
httpx>=0.28.0